@charset "UTF-8";
body {
  margin: 0;
  background-color: #FDF2EC;
  display: flex;
  justify-content: center;
}

.scrollToTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  z-index: 9998;
  cursor: pointer; }
.scrollToTop:hover {
  opacity: 0.7; }

.container_block {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 80%;
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;
}

.container_block div {
  box-sizing: border-box;
}

.title_block {
  text-align: center;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.form_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.form_block div {
  margin: 5px 0;
  padding: 5px;
  vertical-align: baseline;
  width: 100%;
}

/* exception */ 
.oneRate_block div, .twoRates_block div {
  padding: 0;
}

.input_block {
  max-width: 600px;
}

sup {
  color: #DF0000;
}

.form_row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.form_label {
  flex: 0 0 30%;
  text-align: left;
  margin: 5px 0;
  padding: 5px;
}

.form_input {
  flex: 1;
  text-align: center;
}

input[type="text"] {
  margin: 5px 0;
  height: 35px;
  border: solid 1px black;
}

input[readonly] {
  border: solid 1px #acacac;
  background: #f0f0f0;
}

.form_unit {
  flex: 0 0 15%;
  display: grid;
  place-items: center;
}

.input_block_error {
  color: #DF0000;
  margin-left: 33% !important;
}

/* button */ 
.button {
  display: inline-block; /* Allows applying padding and margin */
  padding: 10px 20px; /* Button padding */
  margin: 5px; /* Space between buttons */
  text-align: center; /* Center text inside the button */
  text-decoration: none; /* Remove underline from links */
  color: white; /* Text color */
  background-color: #007bff; /* Button background color */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth background color change on hover */
}

.button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.buttons-container {
  text-align: center; /* Center the inline-block elements */
  width: 100%; /* Take full width of the parent */
}

/* result_block */
.result_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mPayment {
  display: flex;
}

table {
  border-collapse: collapse; /* Removes double borders */
  width: 100%; /* Optional: Sets the table width to fill its container */
  table-layout: fixed;
}

table, td, th {
  border: 1px solid #000000; /* Adds black borders around the table and each cell */
}

th, td {
  padding: 8px; /* Adds some padding inside each cell for better readability */
  text-align: left; /* Aligns text to the left; change as needed */
}

